.content{
  padding: 16px;
}

.content > mat-card{
  width: 250px;
}

a{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: Poppins;
  text-transform: uppercase;
}

.ccae{
  left: 22rem;
  bottom: 9.1rem;
}

.apps{
  left: 65.7rem;
  bottom: 18.5rem;
}

.set{
  bottom: 17rem;
}

.bot{
  left: 44rem;
  bottom: 37.8rem;
}

.san{
  left: 22rem;
  bottom: 35.5rem;
}

.tur{
  left: 44rem;
  bottom: 45.9rem;
}

.imt{
  left: 65.7rem;
  bottom: 55rem;
}

.pb{
  bottom: 52rem;
}

