<div class="content">

    <mat-card class="ccta mat-elevation-z4">
      <mat-card-header>
        <mat-card-title><a href="http://www.ccta.ufpb.br" target="_blank" rel="noopener noreferrer">CCTA</a></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum in rerum consequatur.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="ccae mat-elevation-z4">
      <mat-card-header>
        <mat-card-title><a href="https://www.ufpb.br/ccae" target="_blank" rel="noopener noreferrer">CCAE</a></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum in rerum consequatur.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="apps mat-elevation-z4">
      <mat-card-header>
        <mat-card-title><a href="https://apps4society.dcx.ufpb.br" target="_blank" rel="noopener noreferrer">PROJETO APPS4SOCIETY</a></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum in rerum consequatur.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="set mat-elevation-z4">
      <mat-card-header>
        <mat-card-title><a href="" target="_blank" rel="noopener noreferrer">SETDE PB</a></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum in rerum consequatur.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="bot mat-elevation-z4">
      <mat-card-header>
        <mat-card-title><a href="https://instagram.com/rbot.rede?utm_medium=copy_link" target="_blank" rel="noopener noreferrer">RBOT</a></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum in rerum consequatur.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="san mat-elevation-z4">
      <mat-card-header>
        <mat-card-title><a href="" target="_blank" rel="noopener noreferrer">Fórum de Turismo Rota Sanhauá</a></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum in rerum consequatur.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="tur mat-elevation-z4">
      <mat-card-header>
        <mat-card-title><a href="https://www.gov.br/turismo/pt-br" target="_blank" rel="noopener noreferrer">MTUR</a></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum in rerum consequatur.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="imt mat-elevation-z4">
      <mat-card-header>
        <mat-card-title><a href="https://www.gov.br/turismo/pt-br/acesso-a-informacao/acoes-e-programas/rede-inteligencia-mercado" target="_blank" rel="noopener noreferrer">RIMT</a></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum in rerum consequatur.
        </p>
      </mat-card-content>
    </mat-card>

    <mat-card class="pb mat-elevation-z4">
      <mat-card-header>
        <mat-card-title><a href="https://www.pbtur.pb.gov.br" target="_blank" rel="noopener noreferrer">PBTUR</a></mat-card-title>
      </mat-card-header>
      <img mat-card-image src="">
      <mat-card-content>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum in rerum consequatur.
        </p>
      </mat-card-content>
    </mat-card>



</div>


