.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  margin-left: 5%;
  height: 100%;
  overflow: hidden;
  background: url(/assets/img/bg.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.alth2{
  padding-top: 140px;
}

.bg{
  text-align: center;
}

.img-bg{
  width: 100%;
  height: auto;
}

.grid-item h1{
  font-family: Poppins;
  font-weight: bold;
  font-size: 80px;
  line-height: 80px;
  /* identical to box height, or 106% */

  letter-spacing: -0.04em;

  color: #333333;
}

.grid-item h2{
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  /* identical to box height */

  text-transform: uppercase;

  color: #409979;
}

.grid-item p{
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  /* or 187% */


  color: #333333;
}

.grid-item p > strong{
  color: #86574D;
}

.turista{
  background-color: #86574D;
  color: #fff;
  margin-top: 10px;
}

.profissional{
  background-color: #409979;
  color: #fff;
  margin-top: 20px;
}

.mat-button{
  font-size: 18px;
  font-family: Poppins;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 15px;
  border-radius: 10px;
}
