<div class="grid-container">
  <div class="grid-item">
  <h2 class="alth2">Trazendo inovação ao Turismo na Paraíba</h2>
  <h1>InovaTurPB</h1>
  <p>Lorem ipsum <strong>dolor sit amet</strong>, consectetur adipiscing elit.
      Nunc sollicitudin id ligula id sodales. Vivamus dignissim <strong>dolor
          sit amet</strong> lorem eleifend porttitor.
      Quisque et tortor pretium, fringilla elit quis, blandit orci.</p>
  <a mat-button class="turista">Área do turista</a><br>
  <a mat-button class="profissional">Área do profissional de Turismo</a>
</div>
<div class="grid-item, bg">
  <img class ="img-bg" src="/assets/img/turista.png" alt="">
</div>


</div>
