.container{
  position: absolute;
  width: 484px;
  height: 350px;
  left: 100px;
  top: 254px;
}

.container h1{
  position: absolute;
  width: 465px;
  height: 89px;
  left: 10px;
  top: 35px;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 80px;
  /* identical to box height, or 106% */

  letter-spacing: -0.04em;

  color: #333333;
}

.container h2{
  position: absolute;
  width: 490px;
  height: 25px;
  left: 10px;
  top: 10px;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  /* identical to box height */

  text-transform: uppercase;

  color: #409979;
}

.container p{
  position: absolute;
  width: 480px;
  height: 90px;
  left: 10px;
  top: 140px;

  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  /* or 187% */


  color: #333333;
}

.container p > strong{
  color: #86574D;
}

.container .turista{
  position: absolute;
  width: 125px;
  height: 35px;
  left: 10px;
  top: 250px;
  background-color: #86574D;
  color: #fff;
}

.container .profissional{
  position: absolute;
  width: 228px;
  height: 35px;
  left: 10px;
  top: 300px;
  background-color: #409979;
  color: #fff;
}
