<mat-toolbar class="toolbar mat-elevation-z4">
  <a href="http://localhost:4200/"><img class ="logo" src="assets/img/logo.png" alt=""></a>

  <div class="spacer"></div>
  <button class="menu-text" mat-button [matMenuTriggerFor]="otpb">OTPB ▼</button>
  <mat-menu #otpb="matMenu">

    <a class="menu-text" mat-menu-item routerLink="/observatory">O que é o OTPB?</a>
    <a class="menu-text" mat-menu-item routerLink="/whatsisobservatory">Planejamento Estratégico</a>
    <a class="menu-text" mat-menu-item routerLink="">Projetos (Ensino, Pesquisa, Extensão)</a>
  </mat-menu>
  <button class="menu-text" mat-button [matMenuTriggerFor]="escolha_perfil">ESCOLHA SEU PERFIL ▼</button>
  <mat-menu #escolha_perfil="matMenu">
    <a class="menu-text" mat-menu-item routerLink="/">Área do Turista</a>
    <a class="menu-text" mat-menu-item routerLink="/">ÁREA DO PROFISSIONAL DE TURISMO</a>
    <a class="menu-text" mat-menu-item routerLink="/">Área do Pesquisador</a>
    <a class="menu-text" mat-menu-item routerLink="/">Área de Instituições Parceiras do Turismo</a>
  </mat-menu>

  <button class="menu-text" mat-button [matMenuTriggerFor]="parceiros">Parceiros▼</button>
  <mat-menu #parceiros="matMenu">
    <a class="menu-text" mat-menu-item href="http://www.ccta.ufpb.br" target="_blank">CCTA</a>
    <a class="menu-text" mat-menu-item href="https://www.ufpb.br/ccae" target="_blank">CCAE</a>
    <a class="menu-text" mat-menu-item href="https://apps4society.dcx.ufpb.br" target="_blank">PROJETO APPS4SOCIETY</a>
    <a class="menu-text" mat-menu-item href="" target="_blank">SETDE PB</a>
    <a class="menu-text" mat-menu-item href="https://instagram.com/rbot.rede?utm_medium=copy_link" target="_blank">RBOT</a>
    <a class="menu-text" mat-menu-item href="" target="_blank">Fórum de Turismo Rota Sanhauá</a>
    <a class="menu-text" mat-menu-item href="https://www.gov.br/turismo/pt-br/acesso-a-informacao/acoes-e-programas/rede-inteligencia-mercado" target="_blank">RIMT</a>
    <a class="menu-text" mat-menu-item href="https://www.gov.br/turismo/pt-br/acesso-a-informacao/acoes-e-programas/rede-inteligencia-mercado" target="_blank">PBTUR</a>
    <a class="menu-text" mat-menu-item routerLink="/partners">Sobre</a>

  </mat-menu>

  <a class="menu-text" mat-button routerLink="/news">Notícias</a>
  <a class="menu-text" mat-button routerLink="/contact">Contato</a>
  <button class="menu-text" mat-button [matMenuTriggerFor]="idioma">PT-BR ▼</button>

  <mat-menu #idioma="matMenu">
    <button class="menu-text" mat-menu-item routerLink="">EN-US</button>
    <a class="menu-text" mat-menu-item routerLink="">ES</a>
  </mat-menu>

