<mat-toolbar class="toolbar mat-elevation-z4">
  <a href="http://localhost:4200/"><img class ="logo" src="assets/img/logo.png" alt=""></a>

  <div class="spacer"></div>
  <button class="menu-text" mat-button [matMenuTriggerFor]="otpb">OTPB ▼</button>
  <mat-menu #otpb="matMenu">
    <button class="menu-text" mat-menu-item routerLink="/observatory">Observatório</button>
    <a class="menu-text" mat-menu-item routerLink="/whatsisobservatory">O que é obsevátorio</a>
  </mat-menu>
  <button class="menu-text" mat-button [matMenuTriggerFor]="escolha_perfil">ESCOLHA SEU PERFIL ▼</button>
  <mat-menu #escolha_perfil="matMenu">
    <button class="menu-text" mat-menu-item routerLink="/">ÁREA DO TURISTA</button>
    <a class="menu-text" mat-menu-item routerLink="/">ÁREA DO PROFISSIONAL DE TURISMO</a>
  </mat-menu>
  <a class="menu-text" mat-button routerLink="/partners">Parceiros</a>
  <a class="menu-text" mat-button routerLink="/news">Notícias</a>
  <a class="menu-text" mat-button routerLink="/contact">Contato</a>
  <button class="menu-text" mat-button [matMenuTriggerFor]="idioma">PT-BR ▼</button>

  <mat-menu #idioma="matMenu">
    <button class="menu-text" mat-menu-item routerLink="">EN-US</button>
    <a class="menu-text" mat-menu-item routerLink="">ES</a>
  </mat-menu>

