.toolbar, mat-elevation-z4{
  padding: 50px 100px;
  background-color: white;
  /*box-shadow: 0px 0px 20px #409979;*/
  box-shadow: none;
}

.spacer{
  flex: 1 1 auto;
}

.menu-text{
  font-size: 16px;
  font-weight: bold;
  font-family: Poppins;
  text-transform: uppercase;
}
