<mat-toolbar class="toolbar mat-elevation-z4">
  <span><a mat-button routerLink=""> <mat-icon>eco</mat-icon> InovaTurPB</a></span>

  <div class="spacer"></div>

  <button mat-button [matMenuTriggerFor]="menu">OTPB</button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/observatory">Observatório</button>
    <a mat-menu-item routerLink="/whatsisobservatory">O que é obsevátorio</a>
  </mat-menu>
  <a mat-button routerLink="/partners">Parceiros</a>
  <a mat-button routerLink="/news">Notícias</a>
  <a mat-button routerLink="/contact">Contato</a>
  <a mat-button >PT-BR</a>


</mat-toolbar>
