
<div class="container">

  <div class="contato">
    <img src="assets/img/atendente.png" alt="atendente">
    <p>Entre em contato conosco ou acesse nossas redes socias</p>
</div>

<div class="instagram">
  <a href="https://www.instagram.com/criativaturismopb/?hl=pt-br" target="_blank"><img src="assets/img/instagram.png" alt=""></a>
  <strong>Instagram</strong>
</div>

<div class="facebook">
  <a href=""><img src="assets/img/facebook.png" alt=""></a>
  <strong>Facebook</strong>
</div>

<div class="linkedin">
  <a href=""><img src="assets/img/linkedin.png" alt=""></a>
  <strong>Linkedin</strong>
</div>

<div class="youtube">
  <a href=""><img src="assets/img/youtube.png" alt=""></a>
  <strong>Youtube</strong>
</div>

<div class="form">
  <form>

      <div>
        <input type="text" name="nome" id="nome" placeholder="Nome" class="nome">
      </div>

      <div>
        <input type="text" name="sobrenome" id="sobrenome" placeholder="Sobrenome" class="sobrenome">
      </div>

      <div>
        <input type="tel" name="telefone" id="telefone" placeholder="Telefone" class="telefone">
      </div>

      <div>
        <input type="email" name="email" id="email" placeholder="Email" class="email">
      </div>

      <div>
        <textarea name="mensagem" id="mensagem" rows="10" placeholder="Mensagem" class="mensagem"></textarea>
      </div>

      <div>
        <a mat-button class="button">Enviar</a>
      </div>
  </form>
</div>

<div class="map">
  <img src="assets/img/mapa.png" alt="">
</div>


</div>
