.form{
  position: absolute;
  width: 651px;
  height: 391px;
  left: 600px;
  top: 457px;

  background: #FEFEFE;

  z-index: 10;

  box-shadow: 0 0 8px 2px #888;
  border-radius: 8px;
}

.container .nome{
  position: absolute;
  width: 200px;
  height: 30px;
  left: 56px;
  top: 45px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;

  border: 0 none;

  background: #F4F8FB;

  border-radius: 8px;
}

.container .sobrenome{
  position: absolute;
  width: 200px;
  height: 30px;
  left: 380px;
  top: 45px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;

  border: 0 none;

  background: #F4F8FB;

  border-radius: 8px;
}

.container .telefone{
  position: absolute;
  width: 200px;
  height: 30px;
  left: 56px;
  top: 120px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;

  border: 0 none;

  background: #F4F8FB;

  border-radius: 8px;
}

.container .email{
  position: absolute;
  width: 200px;
  height: 30px;
  left: 380px;
  top: 120px;

  font-family: sans-serif;

  background: #F4F8FB;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;

  border: 0 none;

  border-radius: 8px;
}

.container .mensagem{
  position: absolute;
  width: 530px;
  height: 128px;
  left: 55px;
  top: 182px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;

  border: 0 none;

  background: #F4F8FB;
  border-radius: 8px;
}

.container .button{
  position: absolute;
  width: 153px;
  height: 38px;
  left: 445px;
  top: 330px;

  font-family: sans-serif;

  background: #409979;
  color: #fff;
  border-radius: 8px;
}

textarea:focus, input:focus, select:focus {
  box-shadow: 0 0 0 0;

  outline: 0;
}

.map img{
  position: absolute;
  width: 1349px;
  height: 413px;
  left: 0px;
  top: 811px;

  border: 5px solid #86574D;
  box-sizing: border-box;
}

.contato img{
  position: absolute;
  width: 1349px;
  height: 276px;
  left: 0px;
  top: 65px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.contato p {
  position: absolute;
  top: 145px;
  left: 20px;
  font-family: sans-serif;
  font-size: 32px;
  color: #fff;
  text-shadow: 0px 0px 5px black;
}

.instagram img{
  position: absolute;
  width: 55px;
  height: 55px;
  left: 94px;
  top: 458px;

}

.instagram strong{
  position: absolute;
  width: 97px;
  height: 28px;
  left: 164px;
  top: 472px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  color: #000000;
}

.facebook img{
  position: absolute;
  width: 55px;
  height: 55px;
  left: 94px;
  top: 536px;

}

.facebook strong{
  position: absolute;
  width: 97px;
  height: 28px;
  left: 164px;
  top: 550px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

color: #000000;
}

.linkedin img{
  position: absolute;
  width: 55px;
  height: 55px;
  left: 94px;
  top: 619px;

}

.linkedin strong{
  position: absolute;
  width: 97px;
  height: 28px;
  left: 164px;
  top: 633px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  color: #000000;
}

.youtube img{
  position: absolute;
  width: 55px;
  height: 55px;
  left: 94px;
  top: 702px;

}

.youtube strong{
  position: absolute;
  width: 97px;
  height: 28px;
  left: 164px;
  top: 716px;

  font-family: sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;

  color: #000000;
}
